In [1]:
# importing libraries
import sqlite3

In [2]:
#create a connection to database
conn = sqlite3.connect("customer.db") #create if not exist or connect if exist.

# memory database for just delete after code ends
# conn = sqlite3.connect(":memory:")

#to create a cusor so that it will tell database what to do.
c = conn.cursor()

# create a table
# DATATYPES: null, integer, real, text, blob
c.execute("CREATE TABLE customers(first_name text, last_name text, email text)")

# commit our command
conn.commit()

#close our connection // does automatically too.
conn.close()

In [3]:
# insert the data into database
conn = sqlite3.connect("customer.db")
c = conn.cursor()
c.execute("INSERT INTO customers VALUES('john', 'elder', 'john@gmail.com')")
conn.commit()
conn.close()

In [4]:
# many inputs to the database
conn = sqlite3.connect("customer.db")
c = conn.cursor()

many_customers = [
    ('wes', 'brown','gm'),
    ('step','ku','step'),
    ('dan','pas','danpas@.com')
]

c.executemany("INSERT INTO customers VALUES(?,?,?)",many_customers)


conn.commit()
conn.close()

In [5]:
# look into the database
conn = sqlite3.connect("customer.db")
c = conn.cursor()

c.execute("SELECT * FROM customers")

# print(c.fetchone(), "\n") #only one will display
# print(c.fetchmany(3), "\n") # return 3 outputs
print(c.fetchall(), "\n") # return all


conn.commit()
conn.close()

[('john', 'elder', 'john@gmail.com'), ('wes', 'brown', 'gm'), ('step', 'ku', 'step'), ('dan', 'pas', 'danpas@.com')]

In [8]:
# primary key is with rowid
conn = sqlite3.connect("customer.db")
c = conn.cursor()

c.execute("SELECT rowid, * FROM customers")
print(c.fetchall())


conn.commit()
conn.close()

[(1, 'BOB', 'elder', 'john@gmail.com'), (2, 'wes', 'brown', 'gm'), (3, 'step', 'ku', 'step'), (4, 'dan', 'pas', 'danpas@.com')]

In [25]:
# use of where clause

conn = sqlite3.connect("customer.db")
c = conn.cursor()

c.execute("SELECT first_name FROM customers WHERE last_name = 'elder'")
print(c.fetchall())


#use of LIKE command which help to find silimar characters {"BR%": (brown, "bran")}
c.execute("SELECT * FROM customers WHERE last_name LIKE 'br%'")
print(c.fetchall())


conn.commit()
conn.close()

[('john',)]
[('wes', 'brown', 'gm')]

In [9]:
# update records in the database

conn = sqlite3.connect("customer.db")
c = conn.cursor()

c.execute("UPDATE customers SET first_name = 'BOB' WHERE last_name = 'elder'")
c.execute("SELECT rowid, * FROM customers")
print(c.fetchall())

conn.commit()
conn.close()

[(1, 'BOB', 'elder', 'john@gmail.com'), (2, 'wes', 'brown', 'gm'), (3, 'step', 'ku', 'step'), (4, 'dan', 'pas', 'danpas@.com')]

In [10]:
# DELETE the record

conn = sqlite3.connect("customer.db")
c = conn.cursor()

c.execute("DELETE FROM customers WHERE last_name = 'ku'")
c.execute("SELECT rowid, * FROM customers")
print(c.fetchall())

conn.commit()
conn.close()

[(1, 'BOB', 'elder', 'john@gmail.com'), (2, 'wes', 'brown', 'gm'), (4, 'dan', 'pas', 'danpas@.com')]

In [16]:
# ORDER BY

conn = sqlite3.connect("customer.db")
c = conn.cursor()

c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC") # ASC OR DESC
# c.execute("SELECT rowid, * FROM customers")
print(c.fetchall())

conn.commit()
conn.close()

[(4, 'dan', 'pas', 'danpas@.com'), (2, 'wes', 'brown', 'gm'), (1, 'BOB', 'elder', 'john@gmail.com')]

In [22]:
# AND and OR clauses

conn = sqlite3.connect("customer.db")
c = conn.cursor()

c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'br%' AND rowid = 3") # this didnt work as br and rowid=3 does not exist
c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'br%' OR rowid = 3")
print(c.fetchall())

conn.commit()
conn.close()

[(2, 'wes', 'brown', 'gm')]

In [23]:
# LIMIT command to limit the results limit
conn = sqlite3.connect("customer.db")
c = conn.cursor()
c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC LIMIT 2")

print(c.fetchall())

conn.commit()
conn.close()

[(4, 'dan', 'pas', 'danpas@.com'), (2, 'wes', 'brown', 'gm')]

In [25]:
# DROP a table // delete full table from database
conn = sqlite3.connect("customer.db")
c = conn.cursor()

c.execute("DROP TABLE customers")

conn.commit()
conn.close()

#check
conn = sqlite3.connect("customer.db")
c = conn.cursor()
c.execute("SELECT * FROM customers")

print(c.fetchall())

conn.commit()
conn.close()

OperationalError: no such table: customers

In [26]:
## now we can use all these commands with the help of function calling
## and call those functions for further uses