In [1]:
# load libraries
import sqlite3

In [2]:
class sqlite:
    def __init__(self, table_name):
        self.table_name = table_name
        self.connection = sqlite3.connect("database.db")
        self.cursor = self.connection.cursor()
        
    def create_table(self):
        self.cursor.execute("CREATE TABLE {}(Id integer(10) primary key, name varchar(20), age integer(3), PhNo integer(12), email varchar(20))".format(self.table_name))
    
    def insert_into_table(self, ids, name, age, phno, email):
        self.cursor.execute("INSERT INTO {} VALUES({},'{}',{},{},'{}')".format(self.table_name, ids, name, age, phno, email))
    
    def display_table(self):
        self.cursor.execute("SELECT * FROM {}".format(self.table_name))
        print(self.cursor.fetchall())
        
    def delete_from_table(self, input1, input2):
        print("DELETE FROM {} WHERE '{}' = {}".format(self.table_name, input1, input2))
        self.cursor.execute("DELETE FROM {} WHERE {} = {}".format(self.table_name, input1, input2))
        self.cursor.execute("SELECT * FROM {}".format(self.table_name))
        print(self.cursor.fetchall())
        
    def update_from_table(self, place, update, value):
        print("UPDATE {} SET {} = '{}' WHERE {} = '{}'".format(self.table_name, place, update ,place, value))
        self.cursor.execute("UPDATE {} SET {} = '{}' WHERE {} = '{}'".format(self.table_name, place, update ,place, value))
        self.cursor.execute("SELECT * FROM {}".format(self.table_name))
        print(self.cursor.fetchall())
        
    def drop_table(self):
        self.cursor.execute("DROP TABLE {}".format(self.table_name))
        
    def __del__(self):
        self.connection.commit()
        self.connection.close()
        print("closed")

In [3]:
# initialize and create table

sql = sqlite("bhuppi")
sql.create_table()

In [4]:
# insert into values

sql.insert_into_table(1, 'ram', 10, 99, 'ram.com')
sql.insert_into_table(2, 'shyam', 15, 88, 'shyam.com')
sql.insert_into_table(3, 'arya', 20, 77, 'arya.com')
sql.insert_into_table(4, 'ria', 25, 66, 'ria.com')
sql.insert_into_table(5, 'tin', 30, 55, 'tin.com')

In [5]:
#display items in the table

sql.display_table()

[(1, 'ram', 10, 99, 'ram.com'), (2, 'shyam', 15, 88, 'shyam.com'), (3, 'arya', 20, 77, 'arya.com'), (4, 'ria', 25, 66, 'ria.com'), (5, 'tin', 30, 55, 'tin.com')]

In [6]:
# delete from the table

sql.delete_from_table("Id", 5)

DELETE FROM bhuppi WHERE 'Id' = 5
[(1, 'ram', 10, 99, 'ram.com'), (2, 'shyam', 15, 88, 'shyam.com'), (3, 'arya', 20, 77, 'arya.com'), (4, 'ria', 25, 66, 'ria.com')]

In [7]:
sql.update_from_table("name", "aya", "ria")

UPDATE bhuppi SET name = 'aya' WHERE name = 'ria'
[(1, 'ram', 10, 99, 'ram.com'), (2, 'shyam', 15, 88, 'shyam.com'), (3, 'arya', 20, 77, 'arya.com'), (4, 'aya', 25, 66, 'ria.com')]

In [8]:
sql.drop_table()

In [10]:
sql.display_table()

OperationalError: no such table: bhuppi